<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <section class='section-main'>

        <form action="/" method="post">
            <h1>Hello</h1>
            <input  type="email" name="email" id="email" placeholder="Email">
            <textarea name='msg' placeholder="Enter The Message " id="msg" cols="30" rows="10"></textarea>
            <button type="submit">Submit</button>
        </form>
    </section>

</body>
</html>